<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Minhas redes sociais, links.">
    <link rel="stylesheet" href="/public/assets/css/home.css">

    <title>Vinicius Soares - Redes Sociais</title>
</head>
<body>
    <section class="header">

        <img src="../public/assets/img/Sem título484 (1).png" alt="perfilLogo">

        <h1>Vinicius Soares</h1>

        <p>Minhas redes sociais:</p>
    
        
        
    </section>

    <section class="main">
       <a href="https://www.linkedin.com/in/vinicius-soaresdev" target="_blank"><input type="button" value="Linkedin" class="linkedin"></a>
       <a href="https://github.com/vinicius-soares-dev" target="_blank"><input type="button" value="GitHub" class="github"></a>
       <a href="https://portfolio-jet-two-61.vercel.app/" target="_blank"><input type="button" value="Portfólio" class="portfolio"></a>
       <a href="https://www.intagram.com/invites/contact/?i=5ezgofrh163s&utm_content=nh1fan9" target="_blank"><input type="button" value="Instagram" class="instagram"></a>
    </section>

    <section class="footer">
        <p>Desenvolvido por <mark>Vinicius Soares</mark></p>
    </section>
</body>
</html>